<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Webmail</title>
    <link rel="stylesheet" href="static/lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/lib/css/bootstrap-theme.css">
    <link rel="stylesheet" href="static/lib/css/bootstrap-wysiwyg.css">
</head>
<body class="wysihtml5-supported">
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li><a href="#">Webmail</a></li>
                <li class="active">新邮件</li>
            </ol>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="mailto" class="col-sm-2 control-label">收件人</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="mailto" placeholder="如果有多个收件人，请用英文分号隔开">
                    </div>
                </div>
                <div class="form-group">
                    <label for="copyto" class="col-sm-2 control-label">抄送</label>

                    <div class="col-sm-10">
                        <input type="text" id="copyto" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="subject" class="col-sm-2 control-label">主题</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="subject" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">正文</label>

                    <div class="col-sm-10">
                        <textarea id="textarea" placeholder="Enter text ..."></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">发送方式</label>

                    <div class="radio col-sm-10" id="sendType">
                        <label>
                            <input type="radio" name="sentTypeRadios" id="sendImmediatelyRadio" value="immediately" checked>
                            立即发送
                        </label>
                        <label>
                            <input type="radio" name="sentTypeRadios" id="sendByIntervalRadio" value="byInterval">
                            指定时间后发送(如一小时后)
                        </label>
                        <label>
                            <input type="radio" name="sentTypeRadios" id="sendByTimeRadio" value="byTime">
                            指定时间点发送(如2015-6-23 19:00)
                        </label>
                    </div>
                </div>
                <div class="form-group" id="intervalContainer" style="display: none;">
                    <label class="col-sm-2 control-label">延时</label>

                    <div class="col-sm-2">
                        <input type="text" id="intervalCount" class="form-control" placeholder="">
                    </div>
                    <div class="col-sm-2">
                        <select class="form-control" id="timeUnit">
                            <option value="minute">分钟</option>
                            <option value="hour">小时</option>
                            <option value="day">天</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" id="timeContainer" style="display: none;">
                    <label class="col-sm-2 control-label">指定时间</label>
                    <div class="col-sm-3">
                        <input type="text" id="timeStr" class="form-control" placeholder="例如2015-6-23 18:00">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                    <i class="glyphicon glyphicon-info-sign"></i>时区:北京时间GMT+0800
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <a class="btn btn-default" id="sendMail">发送</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
<script src="static/lib/js/wysiwyg-toolbar.js"></script>
<script src="static/lib/js/jquery.js"></script>
<script src="static/lib/js/bootstrap.min.js"></script>
<script src="static/lib/js/bootstrap-wysiwyg.min.js"></script>
<script src="static/app/js/sendMail.js"></script>
</body>
</html>